<!-- ======= Features Section ======= 
    <section id="features" class="features">
      <div class="container">
        <form action="{% url 'availability' %}" method="POST">
          {% csrf_token %}
        
          {% if team %}
          {% for key,value in team.items %}
        
          <section id="services" class="services section-bg"style="margin-top: 100px; background-image: url('img8.jpg'); background-repeat: no-repeat; background-size: cover;">
            <div class="container" data-aos="fade-up">
              <header class="section-header">
                <!--<h2>Availability</h2>-->
              </header>
              <h3>{{ key }}</h3>
              <label class="container">Click to give your availability
                {% with val=ids|get_item:key %}
              <input name="trail4" type="checkbox" value="{{ key }}" >
                  <span class="checkmark"></span>
              {% endwith %}
                <input name="trail4" type="checkbox" value="{{ key }}" >
                <span class="checkmark"></span>
              </label>
        
              <label class="container">Click to give your availability for PACKUP ONLY
                {% with valp=idp|get_item:key %}
                <input name="packup" type="checkbox" value="{{ key }}"  >
                <span class="checkmark"></span>
                {% endwith %}
              </label>
              
        
              <div class="row">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(21, 162, 252); margin: 15px; ">
                    <h4 class="title"><a href="" style="color: white;">Team</a></h4>
                  </div>
                </div>
              </div>
        
             <div class="row">
              {% for v in value %}
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(191, 228, 252); margin: 15px;">
                    <h4 class="title"><a href="">{{ v }}</a></h4>
                  </div>
                </div>		
            {% endfor %}
          </div>	
        
        
          <div class="row">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(21, 162, 252); margin: 15px; ">
                    <h4 class="title"><a href="" style="color: white;">Setup Heads</a></h4>
                  </div>
                </div>
              </div>
        
             <div class="row">
               {% with vals=setup_heads|get_item:key %} 
            {% for i in vals %}
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(191, 228, 252); margin: 15px;">
                    <h4 class="title"><a href="">{{ i }}</a></h4>
                  </div>
                </div>		
            {% endfor %}	
            {% endwith %}	
          </div>
        
          <div class="row">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(21, 162, 252); margin: 15px; ">
                    <h4 class="title"><a href="" style="color: white;">Sound Heads</a></h4>
                  </div>
                </div>
              </div>
        
             <div class="row">
               {% with vals=sound_heads|get_item:key %} 
            {% for i in vals %}
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(191, 228, 252); margin: 15px;">
                    <h4 class="title"><a href="">{{ i }}</a></h4>
                  </div>
                </div>		
            {% endfor %}	
            {% endwith %}	
          </div>	
        
          
          <div class="row">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(21, 162, 252); margin: 15px; ">
                    <h4 class="title"><a href="" style="color: white;">Packup Only</a></h4>
                  </div>
                </div>
              </div>
        
             <div class="row">
               {% with vals=packup|get_item:key %} 
            {% for i in vals %}
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="box" style="background-color: rgb(191, 228, 252); margin: 15px;">
                    <h4 class="title"><a href="">{{ i }}</a></h4>
                  </div>
                </div>		
            {% endfor %}	
            {% endwith %}	
          </div>	
        </section>
        
        {% endfor %}
          
          
          {% else %}
          {% endif %}
        </form>
        
        <div class="section-title" data-aos="fade-up">
          <h2>Availibility For 25-12-2020</h2>
          <p>Please click on the "+" symbol to confirm your availability</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <h3><a href="">Sound Head</a></h3>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <h3><a href="">+</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3><a href="">Packup Team</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3><a href="">+</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3><a href="">Set-up Head</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <h3><a href="">+</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

   

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Vesperr</h3>
              <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>info@example.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
